/*===Zero_styles===*/

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    font-family: 'Josefin Sans', sans-serif;

    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    scroll-behavior: smooth;
  }
  
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  
  img {
    vertical-align: top;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
      margin: 0;
}

hr {
    border: 0;
    clear:both;
    display:block;
             
    background-color:#000000;
    height: 1px;
    margin: 0 auto;
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


/*===============Header===============*/

.wrapper {
    position: relative;
}



/* ========Slick__slider======== */

.fade {
  padding: 0px 50px;
}

.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;

  border: 0;
  background: none;

  cursor: pointer;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.slick-arrow::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  border-top: 2px solid rgb(2, 2, 2);
  border-left: 2px solid #000;
}

.slick-prev {
  left: 1%;
  transform: rotate(-45deg);
}

.slick-next {
  right: 1%;
  transform: rotate(135deg);
}

/* ========Main__project======== */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    padding: 25px 0;
}

.header__inner {
  position: relative;
}

.header.fixed {
  padding: 10px 0;

  background-color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed .header__title {
  font-size: 28px;
}

.header.fixed .header__link {
  font-size: 16px;
}


.header.active {
  background-color: #fff;
}

.header__title {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 20px;
}

.header__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-left: 40px;
}

.header__link {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 25px;
    
    position: relative;

}


.header__link::after {
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    background-color: #000;
    position: absolute;
    top: -5px;
    right: -20px;
    margin: 0px 7px;
    z-index: 2;

    /* transform: translate(20%, -20%); */
}

.header__link:nth-last-of-type(1):after {
    display: none;
}


/*==== Nav-toggle ====*/

.nav-toggle {
  position: absolute;
  width: 20px;
  top: 45px;
  right: 45%;
  z-index: 10;

  padding: 10px 0;

  transform: translateX(-54%);

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;

  cursor: pointer;

  display: none;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item::before {
  transform-origin: left top;
  transform: rotate(43deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item::after {
  transform-origin: left bottom;
  transform: rotate(-43deg) translateX(-2px);
}


.nav-toggle__item {
  display: block;
  
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);

  position: absolute;
  z-index: 1;
  margin: auto;

}


.nav-toggle__item::before,
.nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  left: 0;
  z-index: 1;

  background-color: #000;

  transition: transform .2s linear;
}

.nav-toggle__item::before {
  top: -5px;
}

.nav-toggle__item::after {
  bottom: -5px;
}



/*=================Main====================*/

.main {
    padding-top: 250px;
}

.works {
    text-align: center;

    margin-bottom: 70px;
}

.works__title {
    font-size: 26px;
    font-weight: 500;

    text-align: center;
    /* width: 80%; */
    overflow: hidden;

    margin-bottom: 70px;
}

.works__title span {
    position: relative;
}

.works__title span::before, 
.works__title span::after{
    content: "";
    display: block;

    border-bottom: 1px solid #000;
    
    width: 1000px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 100px;

    z-index: 1;
}


.works__title span:before {
    display: block;                  
    width:1000px;                   
    content: '';                    
    position: absolute;              
    border-bottom: 1px solid #000;   
    top:50%;                         
    right: 120px;                    
}
  
.works__title span:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #000;
    top:50%;
    left: 120px; 
}

.family span::before {
    right: 140px; 
}
.family span::after {
    left: 140px; 
}

.prof span::before {
    right: 280px; 
}
.prof span::after {
    left: 280px; 
}

/* .works__title span::before {
    left: 0;
}
.works__title span::after {
    right: 0;
} */

.works__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.active {
    flex-direction: row-reverse;
}



.works__slider {
    width: 40%;
    height: auto;
    overflow: hidden;
}

.works__text {
    width: 40%;
    font-size: 18px;
    line-height: 1.5;
}


/*==================About==================*/

.about {
    margin: 70px 0;
    text-align: center;
}

.about__title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;

  margin: 40px 0 70px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about__img {
  width: 40%;
}


.about__text {
  width: 40%;
  line-height: 1.6;
  font-size: 18px;
}



/*==================About==================*/

.services {
  text-align: center;
}

.services__title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;

  margin: 40px 0 70px 0;
}

.services__inner {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.services__wrapper {
  width: 30%;
}

.services__card {
  text-align: center;

  background-color: #313131;
  padding: 50px 50px 0 50px;
  
  color: #fff;
}

.card__title {
  font-size: 28px;
  font-weight: 500;

  padding-bottom: 50px;
}

.center {
  display: inline-block;
}

.card__list {
  font-size: 16px;
  font-weight: 500;

  text-align: left;

  margin-bottom: 20px;

  position: relative;
}

.card__list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;

  transform: translateY(-50%);

  background-color: rgb(255, 255, 255);
  width: 5px;
  height: 5px;

  border-radius: 50%;
}

.card__cost {
  font-size: 25px;
  padding: 50px 0 30px 0;
}

/*================Button==================*/
a.btn{
  text-transform: uppercase;
  letter-spacing: .8px;
  color:#000000;
  padding: 10px 20px 10px 55px;

  text-decoration: none;
  text-align: center;
  margin: 50px auto;
  display: inline-block;
  background-image: linear-gradient(to left,transparent,transparent 50%,#000000 50%,#000000);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid #020202;

  position: relative;
}

a.btn:hover {
 background-position: 0 0;
 color:#fff;
}

a.btn:hover svg {
  fill: rgb(253, 253, 253);
}


.icon {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);

  display: inline-block;
  width: 25px;
  height: 25px;

  transition: all .5s linear;
}


/*=============Footer==============*/

.footer {
  margin-top: 250px;

  padding: 0 0 150px 0;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.footer__title {
  text-align: center;
  font-size: 34px;
  font-weight: 500;

  padding-top: 40px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 80px;
}


.footer__mail {
  font-size: 20px;
}

.footer__main {
  font-size: 18px;
}

.footer__info {
  margin-bottom: 20px;
}

.footer__phone {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer__social {
  display: flex;

}

.social__link {
  margin-left: 20px;
  width: 25px;
}


/*=================Media_query===================*/

@media (max-width: 740px) {


  /*===========Works=========*/
  .works__container {
    flex-direction: column;
  }

  .works__slider {
    width: 100%;
  }

  .works__text {
    width: 100%;

    margin-top: 40px;
  }

  /*=========About==========*/
  .about__inner {
    flex-direction: column;
  }

  .about__text {
    width: 100%;
  }

  .about__img {
    width: 70%;

    margin-bottom: 40px;
  }

  /*==============Services============*/

  .services__wrapper {
    width: 100%;
  }

  /*===========Footer===========*/

  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__mail,
  .footer__info,
  .footer__connection {
    margin-bottom: 30px;
  }
}

@media (max-width: 565px) {
  .slick-arrow::after {
    width: 10px;
    height: 10px;
  }

  .fade {
    padding: 0px 20px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__nav {
    display: none;

    padding: 40px 0 0 0;
  }

  .header__nav.active {
    display: block;
  }


  .header.fixed .nav-toggle {
    top: 33px;
  }

  .header.fixed .header__nav {
    padding-top: 25px;
  }

  .header.fixed .header__link {
    font-size: 15px;
  }

  .nav-toggle {
    display: block;
  }

  .header__link {
    display: block;
    width: 100%;

    margin-bottom: 15px; 
  }

  .header__link::after,
  .header__link::before {
    display: none;
  }

  .main {
    padding-top: 300px;
  }

  .works__text {
    font-size: 16px;
    margin-top: 10px;
  }

  /*======About========*/
  .about__img {
    width: 90%;
  }

  .about__title {
    margin: 20px 0 40px 0;
  }
  .about__text {
    font-size: 15px;
  }


  .card__list {
    font-size: 14px;
  }
}